<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Branded transaction email example</title>
</head>
  <body link="#00a5b5" vlink="#00a5b5" alink="#00a5b5">
  <p><%= _data.name %></p>
  </body>
</html>