<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title></title>
</head>
<body>
	<h1>Hi there <%= usuario.name %> <%= usuario.last_name %></h1>
</body>
</html>
